{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} : vparmarque{% endblock %}

{% block body %}

    {{ form_start(form) }}
<form>
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">Choisissez une marque</legend>

        <div class="uk-input">
            {{ form_row(form.marque) }}
            <button class="uk-button uk-button-primary">Enregistrement</button>
        </div>

    </fieldset>
</form>
    {{ form_end(form) }}

{% endblock %}



