{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} : enregistrer catégorie{% endblock %}

{% block body %}
    
{{ form_start(form) }}
<div class="formulaire">
    <fieldset class="uk-fieldset">
        <legend class="uk-legend">Enregistrement d'une catégorie</legend>

        <div class="uk-input">
            {{ form_row(form.nom) }}
            <button class="">Enregistrement</button>
        </div>
        
    </fieldset>
</div>
{{ form_end(form) }}

{% endblock %}



