{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} : enregistrer agence{% endblock %}

{% block body %}
    
{{ form_start(form) }}
<div class="uk-card uk-card-default uk-card-body uk-text-center uk-padding uk-width-1-4">

        <h3>Enregistrement d'une agence</h3>

        <div class="uk-margin">
            {{ form_row(form.ville) }}
        </div>

        <button class="uk-button uk-button-primary">Enregistrement</button>

</div>
{{ form_end(form) }}

{% endblock %}



