{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} : enregistrer marque{% endblock %}

{% block body %}
    
{{ form_start(form) }}
<div class="uk-card uk-card-default uk-card-body uk-text-center uk-padding uk-width-1-4 centrer">
    
        <h3>Enregistrement d'une marque</h3>

        <div class="uk-margin">
            {{ form_row(form.nom) }}
        </div>
        
        <button class="uk-button uk-button-primary">Enregistrement</button>
        
</div>
{{ form_end(form) }}

{% endblock %}



