{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} : liste agences{% endblock %}

{% block body %}

<div class="uk-card uk-card-default uk-padding uk-text-center uk-width-1-1 colorer">
    <h2>Nos agences</h2>
</div>

<div class="uk-grid-collapse" uk-grid>
    {% for agence in agences %}
    <div class="uk-card uk-card-default uk-card-body uk-text-center uk-padding uk-width-1-3@s">
        <div>
            <h3>Agence de {{ agence.ville|e }}</h3>
        </div>
        <div>
            <a class="uk-button uk-button-danger uk-button-small" href="{{ path ("supprimer_agence",{'id':agence.id}) }}" onclick="return confirm('Supprimer ?')">Supprimer</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

