{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} : liste marques{% endblock %}

{% block body %}

<div class="uk-card uk-card-body uk-text-center uk-padding uk-width-1-2 centrer">
    <h2>Marques</h2>
</div>

<div uk-grid>

        {% for marque in marques %}
        <div class="uk-card uk-card-default uk-card-body uk-text-center uk-padding uk-width-1-4">
            <div>
                <h3>{{ marque.nom|e }}</h3>
            </div>
            {# <div><a class="" href="{{ path ("modif_marque",{'id':marque.id}) }}">Modifier</a></div> #}
            <div>
                <a class="uk-button uk-button-danger" href="{{ path ("supprimer_marque",{'slug':marque.slug}) }}" onclick="return confirm('Supprimer ?')">Supprimer</a>
            </div>
        </div>
        {% endfor %}

</div>

{% endblock %}

