{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} : liste agences{% endblock %}

{% block body %}

<div uk-grid>
    {% for agence in agences %}
    <div class="uk-card uk-card-default uk-card-body uk-text-center uk-padding uk-width-1-4 centrer">
        <div>
            <h3>Agence de {{ agence.ville|e }}</h3>
        </div>
        <div>
            <a class="uk-button uk-button-danger" href="{{ path ("supprimer_agence",{'id':agence.id}) }}" onclick="return confirm('Supprimer ?')">Supprimer</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

