

#nomdusite{
    font-family: 'Courgette', cursive;
    font-size: 3em;
}
#bloctitre{
    padding-left: 4vw;
}
body{
    background-image: url("/images/route1.jpg");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.centrer{
    margin:auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0.8em;
    background-color: cornsilk;
}
.centrer2{
    margin:auto;
    margin-top: 3em;
    border-radius: 0.8em;
}
.colorer{
    background-image: linear-gradient(darkkhaki, cornsilk);
}

#dates-reservation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (max-width: 1200px) {
    #nomdusite{
        font-family: 'Courgette', cursive;
        font-size: 2em;
    }
    #bloctitre{
        padding-left: 0;
    }
    .centrer{
        margin:auto;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 60%;
        border-radius: 0.8em;
        background-color: cornsilk;
    }
    .centrer2{
        margin:auto;
        margin-top: 6vh;
        width: 80%;
        border-radius: 0.8em;
    }

}

@media screen and (max-width: 960px) {
    #nomdusite{
        font-family: 'Courgette', cursive;
        font-size: 1em;
    }
    #bloctitre{
        padding-left: 0;
    }
    .centrer{
        margin:auto;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 80%;
        border-radius: 0.8em;
        background-color: cornsilk;
    }
    .centrer2{
        margin:auto;
        margin-top: 6vh;
        width: 80%;
        border-radius: 0.8em;
    }

}

@media screen and (max-width: 640px) {
    #nomdusite{
        font-family: 'Courgette', cursive;
        font-size: 2em;
    }
    .centrer{
        margin:auto;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 100%;
        border-radius: 0.8em;
        background-color: cornsilk;
    }
    .centrer2{
        margin:auto;
        margin-top: 1em;
        width: 100%;
        border-radius: 0.5em;
        background-color: cornsilk;
    }


}











