{% extends 'base.html.twig' %}


{% block title %}Page d'accueil{% endblock %}


{% block body %}

<div class="uk-height-large uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="https://www.lerevenu.com/sites/site/files/styles/img_lg/public/field/image/bugatti.jpg?itok=MKE31XFL" uk-img>
  <h1>Background Image</h1>
  <a href="{{path ("liste_voitures")}}">Nos voitures</a>
</div>




{% endblock %}


